<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.buscador.reportes.fin.servicio}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
    <script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorReportesFinServicio.order}]]*/ null;
    var sortDesc = /*[[${buscadorReportesFinServicio.direccion}]]*/ null;
    var currentPage = /*[[${buscadorReportesFinServicio.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorReportesFinServicio thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorReportesFinServicio thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
          $("#direccion").attr("value","asc");
          
      }

      $("#buscadorReportesFinServicio").attr("action",getContextPath()+"/ordenTablaBuscadorReportesFinServicio");
      $("#buscadorReportesFinServicio").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.buscador.reportes.fin.servicio}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorReportesFinServicio}"
                        id="buscadorReportesFinServicio"
                        th:method="post"
                        th:action="@{/borrarFiltrosBuscadorReportesFinServicio}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="idMaquinista"
                                        th:text="#{formulario.maquinista}">Maquinista:</label>
                                    <select class="form-control"
                                        th:field="*{idMaquinista}">
                                        <option
                                            th:each="var : ${maquinistas}"
                                            th:value="${var.idPersonal}"
                                            th:text="${var.nombreCompleto}">Maquinista</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="numeroTren"
                                        th:text="#{formulario.tren}">Documento:</label>
                                    <input class="form-control"
                                        type="text"
                                        th:field="*{numeroTren}" />
                                </td>
                                <td>
                                    <label for="fecha"
                                        th:text="#{formulario.fecha}">Fecha:</label>
                                    <input class="form-control"
                                        type="date" th:field="*{fecha}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorReportesFinServicio}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorReportesFinServicio}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorReportesFinServicio" class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="nombreCompleto" th:text="#{tabla.maquinista}">Documento</th>
                                    <th data-sort-prop="tren.numero" th:text="#{tabla.tren}">Nombre</th>
                                    <th data-sort-prop="fecha" th:text="#{tabla.fecha}">Tipo</th>
                                    <th data-sort-prop="ver" th:text="#{tabla.ver.modificar}">Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="reporte : ${reportes}"
                                    th:class="${reporteStat.odd}? 'odd':'even'">
                                    <td>
                                        <output
                                            th:text="${reporte.personal.nombreCompleto}">Documento</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${reporte.tren.numero}">Nombre</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${#dates.format(reporte.fecha, 'dd-MM-yyyy')}">fecha</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verReporte}"
                                            th:if="${!session.usuario.tienePermisoEscritura('gestion de turnos') or (session.usuario.tienePermisoEscritura('gestion de turnos') and reporte.estadoHistorico.idEstadoHistorico==2)}"
                                            th:name="idHistoricoMaquinista"
                                            th:value="${reporte.idHistoricoMaquinista}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/modificarReporte}"
                                            th:if="${session.usuario.tienePermisoEscritura('gestion de turnos') and reporte.estadoHistorico.idEstadoHistorico!=2}"
                                            th:name="idHistoricoMaquinista"
                                            th:value="${reporte.idHistoricoMaquinista}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorReportesFinServicio', ${reportes},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/nuevoReporte}"
                                th:if="${session.usuario.tienePermisoEscritura('gestion de turnos')}"
                                th:formmethod="GET"
                                th:text="#{boton.nuevo}">Modificar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
