<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.buscador.tramo}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorTramo.order}]]*/ null;
    var sortDesc = /*[[${buscadorTramo.direccion}]]*/ null;
    var currentPage = /*[[${buscadorTramo.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorTramo thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorTramo thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
    	  $("#direccion").attr("value","asc");
          
      }

      $("#buscadorTramo").attr("action",getContextPath()+"/ordenTablaBuscadorTramos");
      $("#buscadorTramo").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page" th:text="#{titulo.buscador.tramo}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorTramo}" id="buscadorTramo"
                        th:method="post"
                        th:action="@{/borrarFiltrosBuscadorTramo}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="numeroTren"
                                        th:text="#{formulario.nombre}">Nombre:</label>
                                    <input class="form-control"
                                        type="text"
                                        th:field="*{nombre}" />
                                </td>
                                 <td>
                                <label for="idPuntoOrigen"
                                    th:text="#{formulario.punto.origen}">punto origen:</label>
                                <select class="form-control"
                                    th:field="*{idPuntoOrigen}">
                                    <option th:each="var : ${puntosInfraestructura}"
                                        th:value="${var.idPuntoInfraestructura}"
                                        th:text="${var.nombreLargo}">punto origen</option>
                                </select>
                            </td>
                            
                            <td>
                                <label for="idPuntoDestino"
                                    th:text="#{formulario.punto.destino}">punto destino:</label>
                                <select class="form-control"
                                    th:field="*{idPuntoDestino}">
                                    <option th:each="var : ${puntosInfraestructura}"
                                        th:value="${var.idPuntoInfraestructura}"
                                        th:text="${var.nombreLargo}">punto origen</option>
                                </select>
                            </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorTramo}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorTramo}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorTramo" class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="nombre"
                                        th:text="#{tabla.nombre}">Nombre</th>
                                    <th data-sort-prop="puntoOrigen.nombreLargo"
                                        th:text="#{tabla.punto.origen}">punto otigen</th>
                                    <th data-sort-prop="puntoDestino.nombreLargo"
                                        th:text="#{tabla.punto.destino}">punto destino</th>
                                    <th data-sort-prop="ver"
                                        th:text="#{tabla.ver.modificar}">Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tramo : ${tramos}"
                                    th:class="${tramoStat.odd}? 'odd':'even'">
                                    <td>
                                        <output th:text="${tramo.nombre}">numero</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${tramo.puntoOrigen.nombreLargo}">tramo</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${tramo.puntoDestino.nombreLargo}">tramo</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/modificarDetalleTramo}"
                                            th:if="${session.usuario.tienePermisoEscritura('tramos')}"
                                            th:name="idTramo"
                                            th:value="${tramo.idTramo}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verDetalleTramo}"
                                            th:if="${!session.usuario.tienePermisoEscritura('tramos')}"
                                            th:name="idTramo"
                                            th:value="${tramo.idTramo}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorTramos', ${tramos},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/nuevoTramo}"
                                th:if="${session.usuario.tienePermisoEscritura('tramos')}"
                                th:formmethod="GET"
                                th:text="#{boton.nuevo}">Nuevo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
