<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.buscador.tren}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorTren.order}]]*/ null;
    var sortDesc = /*[[${buscadorTren.direccion}]]*/ null;
    var currentPage = /*[[${buscadorTren.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorTren thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorTren thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver" ||headerSortPropName=="baja"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
    	  $("#direccion").attr("value","asc");
          
      }

      $("#buscadorTren").attr("action",getContextPath()+"/ordenTablaBuscadorTrenes");
      $("#buscadorTren").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page" th:text="#{titulo.buscador.tren}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorTren}" id="buscadorTren"
                        th:method="post"
                        th:action="@{/borrarFiltrosBuscadorTren}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="numeroTren"
                                        th:text="#{formulario.numero.tren}">Nombre:</label>
                                    <input class="form-control"
                                        type="text"
                                        th:field="*{numeroTren}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorTren}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorTren}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorTren" class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="numero"
                                        th:text="#{tabla.numero.tren}"></th>
                                    <th data-sort-prop="tramo.nombre"
                                        th:text="#{tabla.tramo}">Nombre</th>
                                    <th data-sort-prop="horaInicio"
                                        th:text="#{tabla.hora.inicio}">Tipo</th>
                                    <th data-sort-prop="horaFin"
                                        th:text="#{tabla.hora.fin}">Modificar</th>
                                    <th data-sort-prop="ver"
                                        th:text="#{tabla.ver.modificar}">Ver</th>
                                    <th data-sort-prop="baja"
                                        th:text="#{tabla.baja}">baja</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tren : ${trenes}"
                                    th:class="${trenStat.odd}? 'odd':'even'">
                                    <td>
                                        <output th:text="${tren.numero}">numero</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${tren.tramo.nombre}">tramo</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${#dates.format(tren.horaInicio, 'HH:mm')}">hora
                                            inicio</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${#dates.format(tren.horaFin, 'HH:mm')}">hora
                                            fin</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/modificarDetalleTren}"
                                            th:if="${session.usuario.tienePermisoEscritura('trenes')}"
                                            th:name="idTren"
                                            th:value="${tren.idTren}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verDetalleTren}"
                                            th:if="${!session.usuario.tienePermisoEscritura('trenes')}"
                                            th:name="idTren"
                                            th:value="${tren.idTren}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/bajaTren}"
                                            th:name="idTren"
                                            th:if="${session.usuario.tienePermisoEscritura('trenes')}"
                                            th:value="${tren.idTren}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorTrenes', ${trenes},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/nuevoTren}"
                                th:if="${session.usuario.tienePermisoEscritura('trenes')}"
                                th:formmethod="GET"
                                th:text="#{boton.nuevo}">Nuevo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
