<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.buscador.toma.servicio}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorComposicion.order}]]*/ null;
    var sortDesc = /*[[${buscadorComposicion.direccion}]]*/ null;
    var currentPage = /*[[${buscadorComposicion.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorComposicion thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorComposicion thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver" ||headerSortPropName=="eliminar"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
          $("#direccion").attr("value","asc");
          
      }

      $("#buscadorComposicion").attr("action",getContextPath()+"/ordenTablaBuscadorComposicion");
      $("#buscadorComposicion").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.buscador.composicion}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorComposicion}"
                        id="buscadorComposicion" th:method="post"
                        th:action="@{/borrarFiltrosBuscadorComposicion}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="idTren"
                                        th:text="#{formulario.tren}">Maquinista:</label>
                                    <select class="form-control"
                                        th:field="*{idTren}">
                                        <option
                                            th:each="var : ${trenes}"
                                            th:value="${var.idTren}"
                                            th:text="${var.numero}">Maquinista</option>
                                    </select>
                                </td>
                                <td>
                                    <label class="title-label"
                                        for="fecha"
                                        th:text="#{formulario.fecha}">Fecha:</label>
                                    <input class="form-control"
                                        type="date" min="1900-01-01"
                                        max="3000-01-01"
                                        th:field="*{fecha}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorComposicion}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorComposicion}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorComposicion"
                            class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="tren.numero"
                                        th:text="#{tabla.numero.tren}">numero
                                        tren</th>
                                    <th data-sort-prop="fecha"
                                        th:text="#{tabla.fecha}">Nombre</th>
                                    <th data-sort-prop="ver"
                                        th:text="#{tabla.ver.modificar}">Ver</th>
                                    <th data-sort-prop="eliminar"
                                        th:text="#{tabla.eliminar}">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="composicion : ${composiciones}"
                                    th:class="${composicionStat.odd}? 'odd':'even'">
                                    <td>
                                        <output
                                            th:text="${composicion.tren.numero}">tren</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${#dates.format(composicion.fecha, 'dd-MM-yyyy')}">fecha</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verDetalleComposicion}"
                                            th:if="${!session.usuario.tienePermisoEscritura('composicion')}"
                                            th:name="idComposicion"
                                            th:value="${composicion.idComposicion}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/modificarDetalleComposicion}"
                                            th:if="${session.usuario.tienePermisoEscritura('composicion')}"
                                            th:name="idComposicion"
                                            th:value="${composicion.idComposicion}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/eliminarComposicion}"
                                            th:if="${session.usuario.tienePermisoEscritura('composicion')}"
                                            th:name="idComposicion"
                                            th:value="${composicion.idComposicion}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorComposicion', ${composiciones},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/crearComposicion}"
                                th:if="${session.usuario.tienePermisoEscritura('composicion')}"
                                th:formmethod="GET"
                                th:text="#{boton.nuevo}">Nuevo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
