<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.modificar.revision}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorLibros.order}]]*/ null;
    var sortDesc = /*[[${buscadorLibros.direccion}]]*/ null;
    var currentPage = /*[[${buscadorLibros.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorLibros thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorLibros thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
          $("#direccion").attr("value","asc");
          
      }

      $("#buscadorLibros").attr("action",getContextPath()+"/ordenTablaBuscadorLibros");
      $("#buscadorLibros").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.buscador.libros}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorLibros}"
                        id="buscadorLibros" th:method="post"
                        th:action="@{/borrarFiltrosBuscadorLibros}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="anno"
                                        th:text="#{formulario.fecha}">fecha:</label>
                                    <input class="form-control"
                                        type="date" th:field="*{fecha}" />
                                </td>
                                <td>
                                    <label for="idEstado"
                                        th:text="#{formulario.titulo}">titulo:</label>
                                    <input class="form-control"
                                        type="text" th:field="*{titulo}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorLibros}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorLibros}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorLibros"
                            class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="fechaSubida" th:text="#{tabla.fecha}">fecha</th>
                                    <th data-sort-prop="titulo" th:text="#{tabla.titulo}">titulo</th>
                                    <th data-sort-prop="ver" th:text="#{tabla.ver}">ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="libro : ${libros}"
                                    th:class="${libroStat.odd}? 'odd':'even'">
                                    <td>
                                        <output
                                            th:text="${#dates.format(libro.fechaSubida, 'dd-MM-yyyy')}">fecha
                                            subida</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${libro.titulo}">titulo</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verSeguimientoLibro}"
                                            th:name="idLibro"
                                            th:value="${libro.idLibro}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorLibros', ${libros},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/crearLibro}"
                                th:if="${session.usuario.tienePermisoEscritura('libros')}"
                                th:text="#{boton.nuevo}">nuevo
                                libro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
