<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.buscador.modelo.material}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${buscadorModeloMaterial.order}]]*/ null;
    var sortDesc = /*[[${buscadorModeloMaterial.direccion}]]*/ null;
    var currentPage = /*[[${buscadorModeloMaterial.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaBuscadorModeloMaterial thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaBuscadorModeloMaterial thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver" ){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
          $("#direccion").attr("value","asc");
          
      }

      $("#buscadorModeloMaterial").attr("action",getContextPath()+"/ordenTablaBuscadorModeloMaterial");
      $("#buscadorModeloMaterial").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.buscador.modelo.material}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${buscadorModeloMaterial}"
                        id="buscadorModeloMaterial" th:method="post"
                        th:action="@{/buscadorModeloMaterial}">
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label for="idTipoMaterial"
                                        th:text="#{formulario.tipo.material}">Tipo
                                        Material:</label>
                                    <select class="form-control"
                                        th:field="*{idTipoMaterial}">
                                        <option
                                            th:each="var : ${tiposMaterial}"
                                            th:value="${var.idTipoMaterial}"
                                            th:text="${var.valor}">Tipo
                                            Material</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="serie"
                                        th:text="#{formulario.serie}">Serie:</label>
                                    <input class="form-control"
                                        type="text" th:field="*{serie}" />
                                </td>
                                <td>
                                    <label for="subserie"
                                        th:text="#{formulario.subserie}">Subserie:</label>
                                    <input class="form-control"
                                        type="text"
                                        th:field="*{subserie}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarBuscadorModeloMaterial}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosBuscadorModeloMaterial}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaBuscadorModeloMaterial"
                            class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="serie"
                                        th:text="#{tabla.modelo.material.serie}">Serie</th>
                                    <th data-sort-prop="subserie"
                                        th:text="#{tabla.modelo.material.subserie}">Subserie</th>
                                    <th
                                        data-sort-prop="tipoMaterial.valor"
                                        th:text="#{tabla.tipo.material}">Tipo</th>
                                    <th data-sort-prop="ver"
                                        th:text="#{tabla.ver.modificar}">Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="modeloMaterial : ${modelosMaterial}"
                                    th:class="${modeloMaterialStat.odd}? 'odd':'even'">
                                    <td>
                                        <output
                                            th:text="${modeloMaterial.serie}">serie</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${modeloMaterial.subserie}">subserie</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${modeloMaterial.tipoMaterial.valor}">Tipo</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verDetalleModeloMaterial}"
                                            th:if="${!session.usuario.tienePermisoEscritura('materiales')}"
                                            th:name="idModeloMaterial"
                                            th:value="${modeloMaterial.idModeloMaterial}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/modificarDetalleModeloMaterial}"
                                            th:if="${session.usuario.tienePermisoEscritura('materiales')}"
                                            th:name="idModeloMaterial"
                                            th:value="${modeloMaterial.idModeloMaterial}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaBuscadorModeloMaterial', ${modelosMaterial},'page')">...</div>
                        <div class="botoneraNuevo">
                            <button type="submit"
                                class="btn btn-lg btn-primary btn-block mi-boton"
                                th:formaction="@{/nuevoModeloMaterial}"
                                th:if="${session.usuario.tienePermisoEscritura('materiales')}"
                                th:formmethod="GET"
                                th:text="#{boton.nuevo}">Nuevo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
