<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.cambiar.password}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.cambiar.password}">Cambiar
                    contraseña</h1>
                <form action="#" class="my-box"
                    th:object="${cambiarPassword}" id="cambiarPassword"
                    th:method="post" th:action="@{/cambiarPassword}"
                    enctype="multipart/form-data">
                    <input type="hidden" th:field="*{idPersonal}" />
                    <input type="hidden" th:field="*{esPropia}" />
                    <table class="table-grid">
                        <tbody>
                            <tr>
                                <td th:if="*{esPropia}">
                                    <label class="title-label"
                                        for="password"
                                        th:text="#{formulario.password.antigua}">Contraseña
                                        antigua:</label>
                                    <input class="form-control"
                                        type="password"
                                        th:field="*{passwordAntigua}"
                                        required maxlength="200" />
                                </td>
                                <td>
                                    <label class="title-label"
                                        for="password"
                                        th:text="#{formulario.password.nueva}">Contraseña
                                        nueva:</label>
                                    <input class="form-control"
                                        type="password"
                                        th:field="*{passwordNueva}"
                                        required maxlength="200" />
                                </td>
                                <td>
                                    <label class="title-label"
                                        for="passwordConfirm"
                                        th:text="#{formulario.password.confirm}">Confirmar
                                        contraseña:</label>
                                    <input class="form-control"
                                        type="password"
                                        th:field="*{passwordNuevaConfirmacion}"
                                        required maxlength="200" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit"
                                        th:value="#{boton.cambiar.password}"
                                        th:if="*{esPropia}"
                                        value="Cambiar contraseña"
                                        th:formaction="@{/confirmacionCambiarPasswordPropia}"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                    <input type="submit"
                                        th:value="#{boton.cambiar.password}"
                                        th:if="*{!esPropia}"
                                        value="Cambiar contraseña"
                                        th:formaction="@{/confirmacionCambiarPasswordPersonal}"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="submit"
                                        th:formaction="@{/volverCambiarPassword}"
                                        th:value="#{boton.volver}"
                                        formnovalidate value="Volver"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
