<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.detalle.libros.personal}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
<script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${detalleLibrosPersonal.order}]]*/ null;
    var sortDesc = /*[[${detalleLibrosPersonal.direccion}]]*/ null;
    var currentPage = /*[[${detalleLibrosPersonal.page}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#tablaDetalleLibrosPersonal thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc=="desc"?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#tablaDetalleLibrosPersonal thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
        if(headerSortPropName=="ver"){
            return;   
        }
         

      $("#order").attr("value",headerSortPropName);
      if(headerSortPropName==sortProperty){
       
          $("#direccion").attr("value",(sortDesc=="desc"?"asc":"desc"));
      }else{
          $("#direccion").attr("value","asc");
          
      }

      $("#detalleLibrosPersonal").attr("action",getContextPath()+"/ordenTablaDetalleLibrosPersonal");
      $("#detalleLibrosPersonal").submit();
      });
    });
  </script>
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.detalle.libros.personal}">Buscador</h1>
                <div style="width: 100%">
                    <form action="#" class="my-box"
                        th:object="${detalleLibrosPersonal}"
                        id="detalleLibrosPersonal" th:method="post"
                        th:action="@{/borrarFiltrosDetalleLibrosPersonal}">
                        <input type="hidden" th:field="*{idPersonal}" />
                        <input type="hidden" th:field="*{page}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{direccion}" />
                        <table class="table-grid">
                            <tr>
                                <td>
                                    <label class="title-label"
                                        for="fecha"
                                        th:text="#{formulario.fecha}">Fecha:</label>
                                    <input class="form-control"
                                        type="date" min="1900-01-01"
                                        max="3000-01-01"
                                        th:field="*{fecha}" />
                                </td>
                                <td>
                                    <label for="nve"
                                        th:text="#{formulario.titulo}">Titulo:</label>
                                    <input class="form-control"
                                        type="text" th:field="*{titulo}" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/filtrarDetalleLibrosPersonal}"
                                        th:value="#{boton.filtrar}" />
                                    <input
                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                        type="submit"
                                        th:formaction="@{/borrarFiltrosDetalleLibrosPersonal}"
                                        th:value="#{boton.borrar.filtros}" />
                                </td>
                            </tr>
                        </table>
                        <table id="tablaDetalleLibrosPersonal"
                            class="table-paginacion">
                            <thead>
                                <tr>
                                    <th data-sort-prop="libro.titulo"
                                        th:text="#{tabla.titulo}">Titulo</th>
                                    <th
                                        data-sort-prop="libro.fechaSubida"
                                        th:text="#{tabla.fecha}">Fecha</th>
                                    <th data-sort-prop="ver"
                                        th:text="#{tabla.ver.firmar}">Consultar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="libroPersonal : ${librosPersonal}"
                                    th:class="${libroPersonalStat.odd}? 'odd':'even'">
                                    <td>
                                        <output
                                            th:text="${libroPersonal.libro.titulo}">Titulo</output>
                                    </td>
                                    <td>
                                        <output
                                            th:text="${#dates.format(libroPersonal.libro.fechaSubida, 'dd-MM-yyyy')}">Titulo</output>
                                    </td>
                                    <td>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/verDetalleLibrosPersonal}"
                                            th:if="${libroPersonal.evidencia != null}"
                                            th:name="idLibroPersonal"
                                            th:formtarget="_blank"
                                            th:value="${libroPersonal.idLibroPersonal}">
                                            <i class="far fa-eye"></i>
                                        </button>
                                        <button
                                            class="btn btn-lg btn-primary btn-block mi-boton"
                                            type="submit"
                                            th:formaction="@{/firmarDetalleLibrosPersonal}"
                                            th:if="${libroPersonal.evidencia == null}"
                                            th:name="idLibroPersonal"
                                            th:value="${libroPersonal.idLibroPersonal}">
                                            <i
                                                class="fas fa-file-signature"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            th:replace="utiles :: paginacion('paginacionTablaLibrosPersonal', ${librosPersonal},'page')">...</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
