
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.detalle.tramo}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page" th:text="#{titulo.detalle.tramo}">Detalle
                    Tren</h1>
                <form action="#" th:object="${detalleTramo}"
                    class="my-box" id="detalleTramo" th:method="post"
                    th:action="@{/detalleTren}"
                    enctype="multipart/form-data">
                    <input type="hidden" th:field="*{idTramo}" />
                    <input type="hidden" th:field="*{lectura}" />
                    <table class="table-grid">
                        <tbody>
                            <tr>
                                <td>
                                    <label for="nombre"
                                        th:text="#{formulario.nombre}">nombre:</label>
                                    <input type="text"
                                        th:field="*{nombre}"
                                        class="form-control"
                                        style="width: 100%;"
                                        th:readonly="*{lectura}"
                                        required />
                                </td>
                                <td>
                                    <label for="idOrigen"
                                        th:text="#{formulario.origen}">origen:</label>
                                    <select class="form-control"
                                        th:field="*{idOrigen}"
                                        th:style="*{lectura?'pointer-events: none;':''}"
                                        th:readonly="*{lectura}"
                                        required>
                                        <option
                                            th:each="var : ${puntosInfraestructura}"
                                            th:value="${var.idPuntoInfraestructura}"
                                            th:text="${var.nombre}">PuntoInfraestructura</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="idDestino"
                                        th:text="#{formulario.destino}">destino:</label>
                                    <select class="form-control"
                                        th:field="*{idDestino}"
                                        th:style="*{lectura?'pointer-events: none;':''}"
                                        th:readonly="*{lectura}"
                                        required>
                                        <option
                                            th:each="var : ${puntosInfraestructura}"
                                            th:value="${var.idPuntoInfraestructura}"
                                            th:text="${var.nombre}">PuntoInfraestructura</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <input type="submit"
                                        th:value="#{boton.guardar}"
                                        th:if="*{!lectura}"
                                        value="Guardar"
                                        th:formaction="@{/guardarDetalleTramo}"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                </td>
                                <td>
                                    <input type="submit"
                                        th:formaction="@{/buscadorTramo}"
                                        th:formmethod="GET"
                                        th:value="#{boton.volver}"
                                        formnovalidate value="Volver"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
