<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIsmp1" th:hidden="*{!pagina.equals('1')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td>
                        <label for="numeroReferencia"
                            th:text="#{formulario.numero.referencia}">numero
                            referencia:</label>
                        <input class="form-control" type="text"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            readonly th:field="*{numeroReferencia}"
                            maxlength="12" />
                    </td>
                    <td>
                        <!-- fecha -->
                        <label for="fecha" th:text="#{formulario.fecha}">Fecha:</label>
                        <input type="date" min="1900-01-01"
                            class="form-control" max="3000-01-01"
                            th:field="*{fecha}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:required="*{pagina.equals('1') and !isLectura}" />
                    </td>
                    <td>
                        <label for="idTren"
                            th:text="#{formulario.numero.tren}">numero
                            tren:</label>
                        <select class="form-control"
                            th:field="*{idTren}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}">
                            <option th:each="var : ${trenes}"
                                th:value="${var.idTren}"
                                th:text="${var.numero}"></option>
                        </select>
                    </td>
                    <td>
                        <!-- hora inicio servicio -->
                        <label for="lugarInspeccion"
                            th:text="#{formulario.lugar}">lugar:</label>
                        <input class="form-control" type="text"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{lugarInspeccion}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h2 class="title-page"
                            th:text="#{titulo.informe.ismp.trafico.mercancias.peligrosas}">Trafico
                            mercancias peligrosas</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!-- observaciones -->
                        <label for="tipoMercancias"
                            th:text="#{formulario.informe.ismp.tipo.mercancias}">tipo
                            mercancias:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:field="*{tipoMercancias}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!-- observaciones -->
                        <label for="numeroVagonesComposicion"
                            th:text="#{formulario.informe.ismp.numero.vagones}">numero
                            vagones composicion:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{numeroVagonesComposicion}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h2 class="title-page"
                            th:text="#{titulo.informe.ismp.senalizacion}">Señalizacion</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.ismp.etiquetas}">etiquetas</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.ismp.concepto}">concepto</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.informe.ismp.numero}">
                            numero</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label
                            for="numeroContenedoresEtiquetadoBuenEstado"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.vagones.contenedores.etiquetado.buen.estado}">buen
                            estado:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{numeroContenedoresEtiquetadoBuenEstado}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label
                            for="numeroContenedoresEtiquetadoMalEstado"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.vagones.contenedores.etiquetado.mal.estado}">mal
                            estado:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{numeroContenedoresEtiquetadoMalEstado}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label
                            for="numeroContenedoresEtiquetadoIncorrecto"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.vagones.contenedores.etiquetado.incorrecto}">
                            estado incorrecto:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{numeroContenedoresEtiquetadoIncorrecto}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label
                            for="numeroContenedoresEtiquetadoInspeccionado"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.vagones.contenedores.etiquetado.inspeccionado}">vagones
                            inspeccionados:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{numeroContenedoresEtiquetadoInspeccionado}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.ismp.tipo.incorrecciones}">tipo
                            incorrecciones</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.informe.ismp.numero.unidades}">
                            numero unidades</h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="faltaTotalEtiquetas"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.falta.total.etiquetas}">falta
                            total etiquetas:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{faltaTotalEtiquetas}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="faltaAlgunaEtiqueta"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.falta.alguna.etiqueta}">falta
                            alguna etiquetas:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{faltaAlgunaEtiqueta}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="etiquetasInadecuadas"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.etiquetas.inadecuadas}">etiquetas
                            inadecuadas:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{etiquetasInadecuadas}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="etiquetasTamanoInadecuado"
                            class="labelColumna"
                            th:text="#{formulario.informe.ismp.etiquetas.tamano.inadecuado}">tamaño
                            etiquetas inadecuado:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{etiquetasTamanoInadecuado}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label for="etiquetasOtras" class="labelColumna"
                            th:text="#{formulario.informe.ismp.etiquetas.otras}">etiquetas
                            otras:</label>
                    </td>
                    <td>
                        <input class="form-control" type="number"
                            th:required="*{pagina.equals('1') and !isLectura}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{etiquetasOtras}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <!-- observaciones -->
                        <label for="etiquetasObservaciones"
                            th:text="#{formulario.observaciones}">Observaciones:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{etiquetasObservaciones}"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
