<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIseet14"
        th:hidden="*{!pagina.equals('14')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.iseet.equipos.elementos.seguridad}">Equipos
                            y elementos de seguridad del material
                            rodante</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.alumbrado}">Alumbrado</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado104"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.luces.posicion}">luces
                            de posicion:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado104"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.luces.posicion.104}">incorrecto
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado104}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado105"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.luces.gran.intensidad}">luces
                            de gran intensidad:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado105"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.luces.gran.intensidad.105}">incorrecto
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado105}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado106"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.alumbrado.interior}">alumbrado
                            interior:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado106"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.alumbrado.interior.106}">incorrecto
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado106}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado107"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.senales.cola}">señales
                            de cola:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado107"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.senales.cola.107}">inexistencia:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado107}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado108"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.senales.cola.108}">incorrecto:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado108}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoAlumbrado109"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.alumbrado.senales.cola.109}">rotura:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoAlumbrado109}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bordeInformeISEET">
                        <!-- observaciones -->
                        <label for="observacionesAlumbrado"
                            th:text="#{formulario.observaciones}">Observaciones:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{observacionesAlumbrado}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.pantografo}">Pantografo</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo110"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.general}">general:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo110"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.general.110}">falta
                            de toma:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoPantografo110}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo111"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.mecanismo.elevacion}">general:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo111"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.mecanismo.elevacion.111}">incorrecto
                            elevamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoPantografo111}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo112"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.disyuntor}">general:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo112"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.disyuntor.112}">incorrecta
                            apertura:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoPantografo112}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo113"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.frotadores}">general:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoPantografo113"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.pantografo.frotadores.113}">incorrecta
                            apertura:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('14') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoPantografo113}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bordeInformeISEET">
                        <!-- observaciones -->
                        <label for="observacionesPantografo"
                            th:text="#{formulario.observaciones}">Observaciones:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{observacionesPantografo}"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
