<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIseet5"
        th:hidden="*{!pagina.equals('5')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.iseet.equipos.elementos.seguridad}">Equipos
                            y elementos de seguridad del material
                            rodante</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.bogies}">bogies</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies25"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.general}">general:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies25"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.general.25}">existencia
                            de piezas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('5') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoBogies25}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies26"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.caja.bogie}">caja
                            bogie:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies26"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.caja.bogie.26}">existencia
                            de roturas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('5') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoBogies26}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies27"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.bastidor.bogie}">bastidor
                            bogie:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies27"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.bastidor.bogie.27}">existencia
                            de rotura:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('5') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoBogies27}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoBogies28"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.bogies.bastidor.bogie.28}">existencia
                            de fisuras:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('5') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoBogies28}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bordeInformeISEET">
                        <!-- observaciones -->
                        <label for="observacionesBogies"
                            th:text="#{formulario.observaciones}">Observaciones:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{observacionesBogies}"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
