<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIseet8"
        th:hidden="*{!pagina.equals('8')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.iseet.equipos.elementos.seguridad}">Equipos
                            y elementos de seguridad del material
                            rodante</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.rodaje}">Rodaje</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje45"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa}">caja
                            de grasa:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje45"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.45}">existencia
                            de abolladuras:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje45}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje46"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.46}">existencia
                            de calentamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje46}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje47"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.47}">existencia
                            de entrada:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje47}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje48"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.48}">falta
                            de cierre:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje48}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje49"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.49}">faltan
                            tornillos:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje49}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje50"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.50}">existencia
                            de placas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje50}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje51"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.caja.grasa.51}">existencia
                            de perdidas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('8') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje51}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bordeInformeISEET">
                        <!-- observaciones -->
                        <label for="observacionesRodaje"
                            th:text="#{formulario.observaciones}">Observaciones:</label>
                        <textarea rows="4" cols="50" maxlength="200"
                            style="resize: none" class="form-control"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{observacionesRodaje}"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
