<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIseet7"
        th:hidden="*{!pagina.equals('7')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.iseet.equipos.elementos.seguridad}">Equipos
                            y elementos de seguridad del material
                            rodante</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.rodaje}">Rodaje</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje34"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas}">ruedas:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje34"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.34}">existencia
                            de parametros:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje34}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje35"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.35}">existencia
                            de defecto:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje35}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje36"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.36}">existencia
                            de fisuras:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje36}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje37"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.37}">existencia
                            de resaltes:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje37}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje38"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.38}">evidencias
                            de signos:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje38}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje39"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ruedas.39}">existencia
                            de planos:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje39}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje40"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.deposito.engrase}">deposito
                            de engrase:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje40"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.deposito.engrase.40}">incorrecto
                            nivel:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje40}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje41"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ejes}">ejes:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje41"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ejes.41}">existencia
                            de calentamientos:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje41}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje42"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ejes.42}">existencia
                            de piezas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje42}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje43"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ejes.43}">existencia
                            de fisuras:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje43}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoRodaje44"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.rodaje.ejes.44}">existencia
                            de huellas:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('7') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoRodaje44}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
