<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div th:fragment="fragmentoIseet10"
        th:hidden="*{!pagina.equals('10')}">
        <table class="table-grid">
            <tbody>
                <tr>
                    <td colspan="4">
                        <h3 class="title-page"
                            th:text="#{titulo.informe.iseet.equipos.elementos.seguridad}">Equipos
                            y elementos de seguridad del material
                            rodante</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <h4 class="title-page"
                            th:text="#{formulario.informe.iseet.freno}">Freno</h4>
                    </td>
                    <td>
                        <h4 class="title-page"
                            th:text="#{formulario.resultado}">
                            Resultado</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno63"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.freno.auxilio}">freno
                            auxilio:</label>
                    </td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno63"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.freno.auxilio.63}">mal
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno63}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno64"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.freno.auxilio.64}">anomalias
                            en frenado:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno64}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno65"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.freno.auxilio.65}">anomalias
                            en tiempo afloje:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno65}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno66"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.freno.auxilio.66}">mal
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno66}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno67"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno}">freno
                            auxilio:</label>
                    </td>
                    <td colspan="2" class="bordeInformeISEET">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno67"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.67}">mal
                            funcionamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno67}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno68"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.68}">anomalias
                            posicion neutro:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno68}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno69"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.69}">anomalias
                            posicion aislamiento:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno69}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno70"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.70}">anomalias
                            pulsador:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno70}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno71"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.71}">anomalias
                            corte traccion:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno71}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno72"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.72}">anomalias
                            corte tren:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno72}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <!-- libro de normas del maquinista (LNM) -->
                        <label for="idResultadoFreno73"
                            class="labelColumna"
                            th:text="#{formulario.informe.iseet.freno.varios.freno.73}">anomalias
                            presostato:</label>
                    </td>
                    <td>
                        <select class="form-control"
                            th:required="*{pagina.equals('10') and !isLectura}"
                            th:style="*{(isLectura or isFirmado)?'pointer-events: none;':''}"
                            th:readonly="*{isLectura or isFirmado}"
                            th:field="*{idResultadoFreno73}">
                            <option
                                th:each="var : ${resultadoInspecciones}"
                                th:value="${var.idResultadoInspeccion}"
                                th:text="${var.valor}"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
