<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{titulo.detalle.personal}">Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jquery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/791b4deb36.js" crossorigin="anonymous"></script>
<!-- archivos locales -->
<script th:src="@{/js/ese.js}" src="../../js/ese.js"></script>
<link rel="stylesheet" type="text/css" media="all"
    href="../../css/ese.css" th:href="@{/css/ese.css}" />
</head>
<body onload="nobackbutton();">
    <div th:replace="menu :: menu">...</div>
    <div th:replace="utiles :: error">...</div>
    <div th:replace="utiles :: info">...</div>
    <div class="row">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="title-page"
                    th:text="#{titulo.seguimiento.libro}">Seguimiento
                    libro</h1>
                <form action="#" class="my-box"
                    th:object="${seguimientoLibros}"
                    id="seguimientoLibros" th:method="post"
                    th:action="@{/seguimientoLibros}">
                    <input type="hidden" th:field="*{idLibro}" />
                    <table class="table-grid">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <label for="titulo"
                                        th:text="#{formulario.titulo}">Nombre:</label>
                                    <input type="text"
                                        class="form-control"
                                        th:field="*{titulo}" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <table class="table-paginacion">
                                        <thead>
                                            <tr>
                                                <th
                                                    th:text="#{tabla.personal}">personal</th>
                                                <th
                                                    th:text="#{tabla.ver.acuse}">Ver
                                                    acuse</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr
                                                th:each="libroPersonal : ${libroPersonales}"
                                                th:class="${libroPersonalStat.odd}? 'odd':'even'">
                                                <td>
                                                    <output
                                                        th:text="${libroPersonal.personal.nombreCompleto}">personal</output>
                                                </td>
                                                <td>
                                                    <button
                                                        class="btn btn-lg btn-primary btn-block mi-boton"
                                                        type="submit"
                                                        th:formaction="@{/verAcuseLibroPersonal}"
                                                        th:if="${libroPersonal.evidencia !=null}"
                                                        th:formtarget="_blank"
                                                        th:name="idLibroPersonal"
                                                        th:value="${libroPersonal.idLibroPersonal}">
                                                        <i
                                                            class="far fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div
                                        th:replace="utiles :: paginacion('paginacionTablaSeguimientoLibroPersonales', ${libroPersonales},,'page')">...</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"></td>
                                <td>
                                    <input type="submit"
                                        th:formaction="@{/buscadorLibros}"
                                        th:formmethod="GET"
                                        th:value="#{boton.volver}"
                                        formnovalidate value="Volver"
                                        class="btn btn-lg btn-primary btn-block mi-boton" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
